@import 'styles.css';

/* estilização do titulo */
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    color: #042535;
}

.title-container h1 {
    font-size: 30px;
    font-weight: 500;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.event-list {
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: repeat(auto-fill, 350px);
    width: 100%;
    max-width: 1200px;
    column-gap: 3rem;
    row-gap: 4rem;

    list-style-type: none;
}

/* estilizações do card e conteúdo do card */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    width: 100%;
}

.content-card {
    overflow: hidden;
    position: relative;
    width: 350px;
    height: 220px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;
}

.content-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.content-card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.content-card .infos {
    position: absolute;
    width: 100%;
    height: auto;
    padding: 30px 20px 20px 20px;
    bottom: 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.76));
}

.content-card .date {
    font-size: 12px;
    color: rgb(255, 255, 255);
    margin-bottom: 4px;
}

.content-card .title {
    font-size: 17px;
    color: #fff;
}

/* fim da estilização do card */