@import 'styles.css';

/* estilização do titulo */
.title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    color: #042535;
}

.title-container h1 {
    font-size: 30px;
    font-weight: 500;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* container principal do formulário */
.edit-event-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 50px;
    border: #0322303d 1px solid;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 3px 2px 3px 2px rgba(95, 95, 95, 0.37);
}

.container-img,
.inputs {
    margin-bottom: 15px;
}

/* referente as estilizações da imagem e do preview */
.container-img label {
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: 300px;
    border-radius: 15px;
    background-color: #032230;
}

.container-img label:hover {
    outline: 3px solid #0DA183;
}

.container-img label img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#id_image {
    display: none;
}


/* fim da estilização da imagem */


.inputs label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
}

.input-img input,
.inputs input,
.inputs select,
.inputs textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

/* botão */
.form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.btn-save {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #032230;
}

.btn-save:hover {
    background-color: #0DA183;
}