@import 'styles.css';

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #042535;
    width: 100%;
    min-height: 100px;
    padding: 30px;
    margin-top: 6rem;
}

.social-icon-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    width: 10rem;
    margin: 10px 0;
}

.social-icon-item {
    display: flex;
    align-items: center;
    justify-content: center;

}

.social-icon-link {
    display: inline-block;
}

.social-icon-link img {
    width: 45px;
    display: block;
}


.footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
}