{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Sobre</title>
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock meta %}

{% block content %}

    <div class="container-about">
        
        <img src="{% static "img/logo.svg" %}" alt="logo do projeto" class="logo-image">
        <div class="sub-imgs">

            <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTML" target='blank'>
                <img src="{% static "img/html.svg" %}" alt="logo do HTML" class="tek-img">
            </a>
            
            <a href="https://developer.mozilla.org/pt-BR/docs/Web/CSS" target="blank">
                <img src="{% static "img/css.svg" %}" alt="logo do CSS" class="tek-img">
            </a>
            
            <a href="https://www.djangoproject.com/" target="blank">
                <img src="{% static "img/django.svg" %}" alt="logo do Django" class="tek-img">
            </a>

        </div>
        <hr>

        <p class="description">

            ItaManager é um sistema desenvolvido para a disciplina de Programação Web, 
            ministrada pelo professor Ítalo Linhares na Universidade Federal do Ceará, campus
             de Itapajé. É essencialmente desenvolvido com as tecnologias HTML5, CSS3 e Django. 
            
        </p>
    </div>
{% endblock content %}
