{% extends 'base.html' %}
{% load static %}

{% block meta %}
    
    <link rel="stylesheet" href="{% static 'css/event-edit.css' %}">
    <script src="{% static 'js/event-edit.js' %}" defer></script>
    <title>
        {% if form.instance.pk %}
            Editar
        {% else %}
            Criar
        {% endif %} 
            Evento
    </title>

{% endblock meta %}

{% block content %}

    <div class="title-container">
        <h1>
            {% if form.instance.pk %}
                Editar
            {% else %}
                Criar
            {% endif %} 
                Evento
        </h1>
    </div>
    
    <div class="main-container">
        <form method="post" enctype="multipart/form-data" class="edit-event-form">

            {% csrf_token %}
    
            <div class="container-img">
                <label for="{{ form.image.id_for_label }}">
                    {% if form.instance.pk %}
                        {% if form.instance.image %}
                            <img src="{{ form.instance.image.url }}" alt="Imagem default" id="img-event">
                        {% else %}
                            <img src="{% static 'img/event-default.png' %}" alt="article-cover" />
                        {% endif %}
                        
                    {% else %}
                        <img src="{% static 'img/camera2.svg' %}" alt="Imagem default" id="img-event">
                    {% endif %} 
                </label>
                {{ form.image }}
            </div> 
    
            {% for field in form %}
                
                {% if field.name != "image" %}
                    <div class="inputs">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                {% endif %}
                
            {% endfor %}
            
            <div class="form-btn">
                <button type="submit" class="btn btn-save">Salvar</button>
            </div>
    
        </form>
    </div>
    

{% endblock content %}
