{% load static %}
{% block content %}
    {% block meta %}
        <link rel="stylesheet" href=" {% static 'css/footer.css' %} ">
    {% endblock meta %}

    <footer class="footer">

        <ul class="social-icon-list">

            <li class="social-icon-item">
                <a class="social-icon-link" href="#">
                    <img src="{% static 'img/facebook.svg' %}" alt="facebook icone">
                </a>
            </li>

            <li class="social-icon-item">
                <a class="social-icon-link" href="#">
                    <img src="{% static 'img/x.svg' %}" alt="x icone">
                </a>
            </li>

            <li class="social-icon-item">
                <a class="social-icon-link" href="#">
                    <img src="{% static 'img/instagram.svg' %}" alt="instagram icone">
                </a>
            </li>
            
        </ul>

        <p>&copy;2024 Nelson Felipe</p>
        
      </footer>

{% endblock content %}


